@import "tailwindcss";

@layer{
    body{
        @apply text-white bg-primary;
    }
    section{
        @apply pt-16 pb-4 md:pt-20
    }
}


@theme{
    --color-primary:#010a5e;
    --color-secondary:#FFCC00;
    --color-light:#010d78;
    --color-red:#cc3433;
    --color-dark:#000;
    --color-darklight:#171717;
    --color-green:#007936;
    --color-paragraph:#0c0c0c;
}

.separator{
    @apply w-28 h-[2px] bg-secondary my-5;
}

.paragraph{
    @apply text-shadow-white text-xs leading-5;
}


@theme {
  --animate-movingY: move 2s linear infinite;

  @keyframes move {
    50% {
      transform: translateY(-1rem);
    }
  }
}


.tabs-warp ul li:hover,
.tabs-warp ul li.active{@apply bg-secondary text-black;}